<footer>
    <div class="row justify-content-center text-center pt-1 pb-1 copy" style="background-color:black;">
        <div class="col-12">
            <p style="color:white; font-size: 18px; margin:0px">Designed and Created by : {{name}} &copy;</p>
        </div>
    </div>
</footer>
